@{
    ViewData["Title"] = "Registration";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    form {
        background: #fff;
        padding: 20px 30px;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        margin-top:10%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 300px;
        width: 100%;
    }

        form label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        form input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        form button {
            background-color: #28a745;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

            form button:hover {
                background-color: #218838;
            }

    p {
        font-weight: bold;
        margin-top: 10px;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: #007bff;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s;
    }

        a:hover {
            color: #0056b3;
        }
</style>

<form action="/Home/Registration" method="post">
    <label>Логин</label>
    <input name="username" />
    <br />
    <label>Пароль</label>
    <input name="password" type="password" />
    <br />
    <button type="submit">Регистрация</button>
</form>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<a href="/Home/Login">Вход</a>
